/*
==== FONT STYLE ====
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*
==== FONT STYLE ====
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 35px;
  background-color: #343f4f;
}
.wrapper {
  max-width: 1200px;
  position: relative;
}
.wrapper .carousel {
  white-space: nowrap;
  cursor: pointer;
  font-size: 0px;
  overflow: hidden;
  scroll-behavior: smooth;
}
.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img {
  pointer-events: none;
}
.carousel img {
  height: 340px;
  object-fit: cover;
  width: calc(100% / 3);
  margin-left: 14px;
}
.carousel img:first-child {
  margin-left: 0px;
}
.wrapper i:first-child {
  left: -23px;
  display: none;
}
.wrapper i:last-child {
  right: -23px;
}
.wrapper i {
  top: 50%;
  position: absolute;
  height: 46px;
  width: 46px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  line-height: 46px;
  background-color: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }
}
